/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2524;  /* Dark grey-brown */
    color: #ffdbbc;  /* Pale orange */
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation bar styling */
#main-nav {
    padding: 1rem;
    margin-left: 2rem;
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-item a:hover {
    text-decoration: underline;
}

.list {
    padding: 2rem;
}

.list-section {
    padding: 1rem;
}

ul {
    list-style-type: none;
  }  

/* Main content container */
#content-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

.para {
    margin: 2rem;
}

h1 {
    margin: 2rem;
}

#quote {
    position: absolute;
    bottom: 0;
}

a {
    color: #ffdbbc;
}

img {
    max-width: 70%;
    max-height: 60%;
}

.credit {
    font-size: small;
}