/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #393a13;  
    color: #ff8b4d; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation bar styling */
#main-nav {
    padding: 1rem;
    margin-left: 2rem;
}

#nav-list {
    list-style: none;
    display: flex;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-item a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
  }  

li {
    margin-bottom: 1rem;
}

a {
    color: #ff8b4d;
}

img {
    max-height: 150px;
    margin: 1rem 0;
}

.credit {
    font-size: small;
    margin-bottom: 1rem;
}

main {
    padding: 1rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.nav-list {
    margin-bottom: 0rem;
}